/*****************************************************************************/
/* Rsvp: Style */
/*****************************************************************************/
#insertRsvpForm, #insertNotAttendingForm {
  background: rgba(255, 255, 255, 0.75) !important;
  padding: 1em;

}
.rsvp-info * {
  color: #000;
}

.toggle-button-group * {
  white-space: normal;
  font-size: 18px;
}

.toggle-button-group {
  margin: 1em;
}

.rsvp-form-container .panel-heading {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.75em;
  text-align: center;
}

.rsvp-info {
    opacity: 1;
    transition: opacity 600ms;
}
.rsvp-info.animate {
    opacity: 0; 
}

.rsvp-form-container {
    opacity: 1;
    transition: opacity 1000ms;
}
.rsvp-form-container.animate {
    opacity: 0; 
}