<template name="Rsvp">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="row">
        {{#if successfulRsvp }}
          <h1>thanks for coming, xoxox</h1>
        {{/if}}
      </div>
      <div class="row">
        <span class="pull-right" style="margin-right:5px;">
          <img src="wedding-calendar-lg.png" alt="">
        </span>
        <h2>29 August 2015</h2>
      </div>
      <div class="row">
        <span class="pull-right" style="margin-right:7.5px;">
          <i class="fa fa-clock-o fa-5x"></i>
        </span>
        <h2>Reception 4pm</h2>
      </div>
      <div class="row">
        <a href="{{ pathFor 'map'}}">
          <span class="pull-right" style="margin-right:15px;">
            <i class="fa fa-map-marker fa-5x"></i>
          </span>
          <h2>Location</h2>
        </a>
      </div>
    </div>
  </div>

  <div class="row toggle-button-group">
    <div class="col-xs-6">
      <button class="btn btn-block btn-success">
        Oh baby, count me in!
        <p><i class="fa fa-check"></i></p>
      </button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-block btn-warning">
        Out like Lance Bass.
        <p><i class="fa fa-close"></i></p>      
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 rsvp-form-container">
      {{#if attending }}
        {{> quickForm 
              collection="Rsvps" 
              id="insertRsvpForm" 
              type="method" 
              meteormethod="submitRsvp"
        }}
      {{/if}}
    </div>
  </div>
</template>
