<template name="Rsvp">
  <div class="row">
    <img src="wedding-calendar-sm.png" alt="">
    <h2>29 August 2015</h2>
    <h4>Reception 4pm</h4>
    <a href="{{ pathFor 'map'}}">
      <h4>Casablanca Winery Inn</h4>
    </a>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-block btn-success">
        Attending with glee.
      </button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-block btn-warning">
        Out like Lance Bass.
      </button>
    </div>
  </div>
  
  <div class="row">
    {{#if attending }}
      {{> quickForm collection="Rsvps" id="insertRsvpForm" type="insert"}}
    {{/if}}
  </div>

  {{#each rsvps}}
    <p>name: {{name}}</p>
    <p>Notes: {{notes}}</p>
  {{/each}}
</template>
