<template name="Rsvp">
  <div class="row">
    {{#if isSuccessfulRsvp }}
      {{#each mostRecentRsvp }}
        <h2>Thanks for RSVP {{ guests }}!</h2>
        {{#if email }}
          <h4>We'll keep you in the loop via {{ email }}</h4>
        {{/if}}  
      {{/each}}
    {{/if}}
    {{#if attending }}
        {{> WeddingCalendarIcon}}
    {{else}}    
      {{#Animate }}
        {{#if isNotAttending }}
          {{> regrets }}
        {{/if}}
        {{> RsvpBody }}
      {{/Animate }}
    {{/if}}
  </div>

  <div class="row toggle-button-group">
    <!-- ANIMATE THIS -->
    {{> RsvpButtonGroup }}
  </div>
  
  {{#if attending }}
    {{#Animate }}
    <div class="row">
      {{> RsvpForm}}
    </div>
    {{/Animate }}
  {{/if}}

  {{#if isNotAttending }}
    <div class="row">
      {{> NotAttendingForm }}
    </div>
  {{/if}}
</template>

<template name="WeddingCalendarIcon">
    <span class="{{ calendarIconPosition }}" data-action="notAttending" style="margin-right:5px;">
      <img src="wedding-calendar-lg.png" alt="">
    </span>
</template>

<template name="RsvpBody">
  <div class="col-sm-12 text-center rsvp-info animate">
    <div class="row">
      {{> WeddingCalendarIcon}}
      <h2>29 August 2015</h2>
    </div>
    <div class="row">
      <a href="{{ pathFor 'thebigday' }}">
        <span class="pull-right" style="margin-right:7.5px;">
          <i class="fa fa-clock-o fa-5x"></i>
        </span>
        <h2>Ceremony 3:30pm</h2>
      </a>
    </div>
    <div class="row">
      <a href="{{ pathFor 'map'}}">
        <span class="pull-right" style="margin-right:15px;">
          <i class="fa fa-map-marker fa-5x"></i>
        </span>
        <h2>Location</h2>
      </a>
    </div>
  </div>
</template>

<template name="RsvpButtonGroup">
  <div class="col-xs-6">
    <button class="btn btn-block btn-success" data-action="attending">
      Oh baby, count me in!
      <p><i class="fa fa-check"></i></p>
    </button>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-block btn-danger" data-action="notAttending">
      Out like Lance Bass.
      <p><i class="fa fa-close"></i></p>      
    </button>
  </div>
</template>

<template name="RsvpForm">
  <div class="col-sm-12 rsvp-form-container animate">
    {{> quickForm 
        collection="Rsvps" 
        id="insertRsvpForm" 
        type="method" 
        meteormethod="submitRsvp"
        omitFields="createdAt"
    }}
  </div>
</template> 

<template name="NotAttendingForm">
  <div class="col-sm-12 form-container">
    {{> quickForm 
        collection="NotAttending" 
        id="insertNotAttendingForm" 
        type="method" 
        meteormethod="submitNotAttending"
        omitFields="createdAt"
    }}
  </div>
</template>

<template name="regrets">
  <div class="row">
    <h3>If you can't make the wedding, join us July 4th for the <a href="{{ pathFor 'stag' }}">Stag & Doe</a></h3>
  </div>
</template>