/*****************************************************************************/
/* Rsvp: Style */
/*****************************************************************************/
.rsvp {
}
.navbar-container * {
  color: #000;
  font-size: 20px;
}

.toggle-button-group * {
  white-space: normal;
  font-size: 18px;
}

.rsvp-form-container .panel-heading {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.75em;
  text-align: center;
}

.rsvp-info {
    opacity: 1;
    transition: opacity 600ms;
}
.rsvp-info.animate {
    opacity: 0; 
}

.rsvp-form-container {
    opacity: 1;
    transition: opacity 1000ms;
}
.rsvp-form-container.animate {
    opacity: 0; 
}