<template name="Nav">
  <nav class="navbar navbar-container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand nav-brand-icon-container" href="{{ pathFor 'home' }}"><img class="nav-brand-icon" src="rings-64.png" alt=""></a>
        <a class="navbar-brand" href="{{ pathFor 'rsvp' }}">RSVP</a>
        <a class="navbar-brand" href="{{ pathFor 'map'}}">Map</a>
        <a class="navbar-brand pull-right" href="{{ pathFor 'photos' }}"><i class="fa fa-camera"></i></a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
</template>
