<template name="Photo">
	<div class="row">
		<div>
			{{> backButton }}
			{{> nextPhoto }}
		</div>
	</div>
	<div class="row">
		<div class="{{ photoContainerWidth }} thumbnail photo">
			{{#with singlePhotoObject }}
				<img id="{{ id }}" class="img-responsive" data-number="{{ number }}"
					src="/{{folder}}/{{ src }}" alt="{{ toTitleCase id }}">
			{{/with}}
		</div>
	</div>
</template>

<template name="backButton">
	<a href="{{ pathFor 'photos' }}">
		<button class="btn btn-default btn-lg" style="margin-bottom:1rem;">
			<i class="fa fa-arrow-left"></i>
			 All Photos 
		</button>
	</a>
</template>

<template name="nextPhoto">
	<button id="nextPhoto" class="btn btn-default btn-lg pull-right" style="margin-bottom:1rem;">
		Next 
		<i class="fa fa-arrow-right"></i>
	</button>
</template>
