<template name="Photos">
  <div class="row">
      <h2>First Look @ Fifty Point</h2>
      <p>For now, right click and 'Open Image in New Tab' for full size.</p>
  </div>
  <div class="row">
	{{#each pics }}
			<div class="col-sm-6 {{ klass }} thumbnail">
				<img class="img-responsive " src="{{ src }}" alt="">
			</div>
		<!-- {{#if portrait }}
		{{else}}
			<div class="col-sm-6 thumbnail">
				<img class="img-responsive" src="{{ src }}" alt="">
			</div>
		{{/if}} -->
	{{/each}}
  </div>
</template>
