<template name="Photos">
    <div class="row">
        <h3>
            First Look @ Fifty Point
            {{#unless isMobile}}
                <button id="enlarge-photos" class="btn btn-default btn-md pull-right">
                    {{#if enlargedPhotos}} 
                        Enlarge All 
                        <i class="fa fa-plus" style="margin-left:1rem;"></i>
                    {{else}} 
                        Collapse 
                        <i class="fa fa-minus" style="margin-left:1rem;"></i>
                    {{/if}}
                </button>
            {{/unless}}
        </h3>
    </div>
    <div class="row">
        {{#each pics }}
            <div class="{{ photoContainerWidth }} thumbnail photo">
                <img data-number="{{ number }}" id="{{ id }}" class="img-responsive" src="{{ src }}" alt="{{ toTitleCase id }}">
            </div>
            {{#unless enlargedPhotos}} 
                <button id="enlarge-photos" class="btn btn-default btn-md pull-right" style="margin-bottom:2rem;">
                    <i class="fa fa-minus"></i> 
                </button>
            {{/unless}}
        {{/each}}
    </div>
</template>