<template name="Photos">
    <div class="row">
        <h2>
            First Look @ Fifty Point
            {{#unless isMobile}}
                <button id="enlarge-photos" class="btn btn-default btn-md pull-right">
                    {{#if enlargedPhotos}} Enlarge All {{else}} Collapse {{/if}}
                </button>
            {{/unless}}
        </h2>
    </div>
    <div class="row">
        {{#each pics }}
        <div class="{{ photoContainerWidth }} thumbnail photo">
            <img id="{{ id }}" class="img-responsive" src="{{ src }}" alt="{{ id }}">
        </div>
        {{/each}}
    </div>
</template>


<template name="Photo">
  <div class="{{ photoContainerWidth }} thumbnail photo">
      {{#with singlePhotoObject }}
          <img id="{{ id }}" class="img-responsive" src="{{ src }}" alt="{{ id }}">
      {{/with}}
  </div>
</template>