/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

body {
  background: url(engagement-full-front.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

.master-layout-container {
  opacity: 1;
  transition: opacity 600ms;
}
.master-layout-container.animate {
  opacity: 0; 
}
