/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

.homeBgImage {
  background: url(website-3.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}
.rsvpBgImage {
  background: url(engagement-pier-center.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

.mapBgImage {
  background: url(engagement-back-hug.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

.thebigdayBgImage {
  background: url(website-5.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}

.master-layout-container {
  opacity: 1;
  transition: opacity 600ms;
}
.master-layout-container.animate {
  opacity: 0; 
}
